@CHARSET "ISO-8859-1";

/*ist einfach nur irgendwas um zu testen ob die CSS datei richtig eingebunden wird*/
body {
	background-color: #CCCCFF;
	text-align : center ;
}
#wrapper {
	text-align : left ;
	max-width: 1000px;
	min-width: 400px;
	background-color: #FFFFFF;
	margin-left : auto ;
	margin-right : auto ;
	min-height: 500px;
	padding: 2em;
}

a {
	font-weight: bold;
	color: #5500dd;
	text-decoration: none;
}

ul {
	padding: 0px;
	margin: 0px;
}

h1,h2,h3,h4 {
	font-family: Garamond;
	color: #2222FF;
}

#topmenue {
	margin-left: -5px;
}

#login {
	margin-top: 1em;
	clear:both;
	float:right;
}

#search {
	margin-top: 1em;
	float:left;
}

#topmenue li {
	float: left;
	list-style: none;
	padding: 3px 10px 3px 10px;
	margin: 0px 5px;
	border: 1px solid #CCC;
}

#footer {
	margin-top: 3em;
	clear:both;
	color: #AAAAAA;
	text-align: center;
}

#copyright{
	margin-top: 1em;
}

#logo {
	margin-top: 1em;
}

#names {
	float: left;
}

#names li {
	float: left;
	list-style: none;
	margin: 5px;
}

#main {
	margin-top: 3em;
	clear:both;
	position: relative;
	float:none;
}
#errorheading {
	font-weight: bold;
	color: #AA0000;
}