@CHARSET "ISO-8859-1";

/*author: Andreas*/
body {
	background-color: #CCCCFF;
	text-align : center ;
}
#wrapper {
	text-align : left ;
	max-width: 1000px;
	min-width: 400px;
	background-color: #FFFFFF;
	margin-left : auto ;
	margin-right : auto ;
	min-height: 300px;
	padding: 2em;
}

#albumlist {
	/*auf alleAlben.jsp*/
}

#album-image{
	min-width: 150px;
	float:left;
}

#album-features{
	clear:both;
	height:30px;
}

#album-features li {
	float: left;
	list-style: none;
	margin-right: 1em;
}

#albumpage-top{
	min-width: 450px;

}

#album-info{
	margin-top:-0.5em;
	float:left;
	min-width:300px;
}

.label{
/* 	font-weight: bold; */
	width: 20em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block

}

.labeluser{	
	width: 10em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block
}

.albumlabel{
	font-weight: bold;
	width: 10em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block
	
}

.album-sublist{
	margin-left: 1em;
	float: left;
}

#albumpage-tracks{
	clear:both
}

.album-item {
	float:left;
	border: 1px solid #CCC;
	width:150px;
	height:180px;
	text-align:center;
	margin: 1em;
	padding: 0.5em;
}

.album-item img{
	border: 5px solid #EEE;
}

a {
	font-weight: bold;
	color: #5500dd;
	text-decoration: none;
}

ul {
	padding: 0px;
	margin: 0px;
}

li {
	list-style: none;
	margin: 5px;
}

h1,h2,h3,h4 {
	font-family: Garamond;
	color: #2222FF;
}

#topmenue {
	margin-left: -5px;
}

#login {
	margin-top: 1em;
	clear:both;
	float:right;
}

input
{
	color: #781351;
	background: #fee3ad;
	border: 1px solid #781351
}

.submit input
{
	color: #000;
	background: #ffa20f;
	border: 2px outset #d7b9c9
}

.userbutton
{
	color: #000;
	background: #ffa20f;
	border: 2px outset #d7b9c9
	margin-left: 20em;
}

.delbutton
{
	color: #fff;
	background: #ff2200;
	border: 2px outset #d7b9c9
	margin-left: 20em;
}

#search {
	background-color: #CCCCFF;
	float:left;
	margin-left:-2em;
	margin-top:1em;
	padding-left:5em;
	padding-right:4em;
	padding-top:0.1em;
	padding-bottom:0.2em;
}

#searchfield{
	width:20em;
}

#topmenue li {
	float: left;
	list-style: none;
	padding: 3px 10px 3px 10px;
	margin: 0px 5px;
	border: 1px solid #CCC;
}

#footer {
	margin-top: 3em;
	clear:both;
	color: #AAAAAA;
	text-align: center;
}

#copyright{
	margin-top: 1em;
}

#logo {
	margin-top: 1em;
}

#names {
	float: left;
}

#names li {
	float: left;
	list-style: none;
	margin: 5px;
}

#main {
	margin-top: 5em;
	clear:both;
	position: relative;
	float:none;
}
#errorheading {
	font-weight: bold;
	color: #AA0000;
}

.table-label{
	vertical-align: top;
	text-align: right;
}

fieldset
{
	float: left;
	border: 1px solid #781351;
	width: 20em
}

legend
{
	color: #ff;
	background: #ffa20c;
	border: 1px solid #781351;
	padding: 2px 6px
}