@CHARSET "ISO-8859-1";

/*ist einfach nur irgendwas um zu testen ob die CSS datei richtig eingebunden wird*/
body {
	background-color: #9b9b9b;
}

a {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

h1,h2,h3,h4 {
	font-family: Garamond;
	color: #000000;
}

.topmenue {
	margin: 0 auto;
	padding: 0;
}

.topmenue li {
	text-align: middle;
	float: left;
	list-style: none;
	padding: 3px 10px 3px 10px;
	margin: 5px;
	border: 1px solid #CCC;
	color: #000000;
}

#errorheading {
	font-weight: bold;
	color: #AA0000;
}

input{
	color: #000000;
	background-color: #f3f3f3;
}
